New_Lead.json
{
  "name": "New Lead",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Test Form",
        "formFields": {
          "values": [
            {
              "fieldLabel": "First Name"
            },
            {
              "fieldLabel": "Last Name"
            },
            {
              "fieldLabel": "Email"
            },
            {
              "fieldLabel": "Budget",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "100-1000"
                  },
                  {
                    "option": "1000+"
                  },
                  {
                    "option": "0-100"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Message"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -1380,
        -180
      ],
      "id": "70ea4134-4c34-4335-8eec-5a8d47fa8815",
      "name": "On form submission",
      "webhookId": "803f11c0-be66-48ae-9bea-dd2a82125ccc"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "=18F5LYAGLIOIPYhbV5QQ8HddpciVamlA-xgd_JMuOyr0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18F5LYAGLIOIPYhbV5QQ8HddpciVamlA-xgd_JMuOyr0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "First Name": "={{ $json['First Name'] }}",
            "Email": "={{ $json.Email }}",
            "Last Name": "={{ $json['Last Name'] }}",
            "Budget": "={{ $json.Budget }}",
            "Message": "={{ $json.Message }}",
            "Date": "={{ $now }}",
            "Rejected": "={{ $if($json.Budget === \"1000+\" , \"FALSE\" , \"TRUE\") }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Budget",
              "displayName": "Budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rejected",
              "displayName": "Rejected",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1180,
        -180
      ],
      "id": "be905568-afcd-4fa8-be85-c3a0b27a616c",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6pnrIynqaEhuVeFg",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fb0dd9a4-d681-415d-99fe-985198877502",
              "leftValue": "={{ $json.Budget }}",
              "rightValue": "0-100",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -960,
        -180
      ],
      "id": "7aae17bc-5dcc-43ce-8e38-8cda360d1ed0",
      "name": "Filter"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('On form submission').item.json.Budget }}",
                    "rightValue": "100-1000",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b5466aa1-9b6a-4578-b9c5-228f54f29da7"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0998c17a-05b4-4a56-80a7-01142e13c145",
                    "leftValue": "={{ $('On form submission').item.json.Budget }}",
                    "rightValue": "1000+",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -760,
        -180
      ],
      "id": "c74b32b2-e17d-4fc7-88b8-3bae149855ad",
      "name": "Switch"
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.Email }}",
        "subject": "Hey, thanks for inquiring with Galax AI.",
        "emailType": "text",
        "message": "=Hey ,  {{ $('On form submission').item.json['First Name'] }}\n\nThanks for inquiring with our services, I will give you a call back in this week.\nRegards, \nAlex",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -600,
        -80
      ],
      "id": "2a2c2e33-23ba-4f9c-8ae5-c574cf43f6f4",
      "name": "Gmail",
      "webhookId": "11ac88b2-d094-47d7-a758-9b88cb367109",
      "credentials": {
        "gmailOAuth2": {
          "id": "o3hU7WAH0t4S3i5M",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.Email }}",
        "subject": "Hey, thanks for inquiring with Galax AI.",
        "emailType": "text",
        "message": "=Hey ,  {{ $('On form submission').item.json['First Name'] }}\n\nThanks for inquiring with our services, can you book a call on my calender link here :\nhttps://galaxaa.com/booking\nRegards, \nAlex",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -600,
        -280
      ],
      "id": "6c375099-10c7-49e5-8f6e-6c3deaa5cf7a",
      "name": "Gmail1",
      "webhookId": "11ac88b2-d094-47d7-a758-9b88cb367109",
      "credentials": {
        "gmailOAuth2": {
          "id": "o3hU7WAH0t4S3i5M",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -460,
        -180
      ],
      "id": "a161c951-210c-4a6d-a8e8-20b91a5f83ec",
      "name": "Merge"
    },
    {
      "parameters": {
        "sendTo": "aanharib@gmail.com",
        "subject": "New Lead",
        "emailType": "text",
        "message": "=New Lead\nName:{{ $('On form submission').item.json['First Name'] }} {{ $('On form submission').item.json['Last Name'] }}\n\nEmail:{{ $('On form submission').item.json.Email }}\n\nBudget:{{ $('On form submission').item.json.Budget }}\n\nMessage: {{ $('On form submission').item.json.Message }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -240,
        -180
      ],
      "id": "f01a6b6f-733b-414b-bf46-842d4165ea29",
      "name": "Gmail2",
      "webhookId": "11ac88b2-d094-47d7-a758-9b88cb367109",
      "credentials": {
        "gmailOAuth2": {
          "id": "o3hU7WAH0t4S3i5M",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {
    "On form submission": [
      {
        "json": {
          "First Name": "Beston",
          "Last Name": "Donald",
          "Email": "beastxyz@yahoo.com",
          "Budget": "1000+",
          "Message": "Hey i am interested",
          "submittedAt": "2025-05-14T12:15:32.858-04:00",
          "formMode": "test"
        }
      }
    ]
  },
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Gmail2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "be5220e2-6926-4317-ad1d-204af82b2516",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ce2cb8ff6f7844e09143b4feb12fb4768f263c36a0991ecb87e2267e7f8773ed"
  },
  "id": "ijoRTRA3MMutgwoy",
  "tags": []
}